.container {
    height: 350px;
    width: 350px;
    border: 2px solid rgb(0, 0, 0);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 40px;
    background-color: rgba(151, 140, 199, 0.488);
    position: relative;
    top: 220px;
    align-items: center;


}

body {
    background-color: rgba(232, 237, 238, 0.185);
    justify-content: center;
    align-items: center;
    background-image: url("https://hips.hearstapps.com/hmg-prod/images/2025-tesla-model-x-6734b3d48460d.jpg?crop=0.702xw:0.633xh;0.149xw,0.179xh&resize=2048:*");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}


button {

    cursor: pointer;
    position: relative;
    left: 90px;
    padding: 10px 6px;
    color: rgb(11, 93, 67);
    background-color: rgb(55, 133, 172);
    font-size: medium;
}