* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

.login-container {
    width: 350px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
}

label {
    font-size: 16px;
    margin: 10px 0 5px;
    display: block;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #ff4b4b;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s;
}

button:hover {
    background-color: #ff6969;
    transform: scale(1.03);
}
